<body class="h-screen w-screen bg-[#291E56]">
    <app-header></app-header>
    
    <div class="flex">
        <div class="inline-block ">
            <app-user-info></app-user-info>
            <div class="bg-[#171139] rounded-3xl flex flex-col ml-12 mr-12 mt-6 custom-container-lastfinance h-auto">
                <div class="flex justify-center items-center m-6 bg-[#291E56]/[0.5] rounded-2xl">
                    <h1 class="text-center text-white font-semibold text-3xl m-2">Last Finances</h1>
                </div>
            </div>
            <app-financecards></app-financecards>

        </div>
        <div class="bg-green-500 flex-1">
            <p class="text-center">test</p>
        </div>
    

    </div>
    

</body>