<body class="h-screen w-screen bg-[#291E56]">
    <app-header></app-header>
    
    <div class="flex">
        <div class="inline-block">
          <div *ngIf="finance">
            <app-user-info ></app-user-info>
          </div>
            <div class="bg-[#171139] rounded-3xl flex flex-col justify-center mt-3 custom-container-lastfinance  mx-auto">
                <div class="flex justify-center items-center m-3 bg-[#291E56]/[0.5] rounded-2xl">
                    <h1 class="text-center text-white font-semibold text-3xl m-2">Last Finances</h1>
                </div>
            </div>


            <div *ngIf="finance">
              <div *ngFor="let item of finance.slice(financeIndex, financeIndex + 3); let i = index">
                <app-financecards [finance]="item" class="finance-card animate-fade-in" style="animation-delay: {{i * 0.6}}s; "></app-financecards>
              </div>
            </div>
            
            
            

            <div class="justify-center flex m-2">
              <button class="text-xl mr-6" [disabled]="isPreviousDisabled()" (click)="onPrevious()">
                <fa-icon [icon]="faCaretLeft" [style.color]="isPreviousDisabled() ? '#3730a3' : '#7e22ce'" class="fa-2x"></fa-icon>
              </button>
              <button class="ml-6 text-xl" [disabled]="isNextDisabled()" (click)="onNext()">
                <fa-icon [icon]="faCaretRight" [style.color]="isNextDisabled() ? '#3730a3' : '#7e22ce'" class="fa-2x"></fa-icon>
              </button>
            </div>
            
        </div>
        <div class="flex-1 mr-12">
            <app-graph></app-graph>
            <div class="flex justify-center mt-6">
              <button (click)="openDialog()" class="text-white text-4xl bg-[#270459] rounded-full border-solid border-2 mt-4 h-16 w-80  border-purple-700 hover:bg-gradient-to-r from-[#7c1f90] to-[#f926bb] hover:border-none " >New Finance</button>
          </div>
        </div>
    

    </div>
    

</body>
