<div class="h-screen w-screen flex justify-center items-center">
    <div class="custom-container-size bg-gray-600">
        <h1 class="text-center text-4xl text-white m-2">Login</h1>
        <form>
            <div class="flex justify-center">
                <input class="h-12 my-2 mx-2 w-96 border-gray-400 border-solid rounded-full pl-4 pr-2 text-lg"  type="text " placeholder="Email">
            </div>
            <div class="flex justify-center">
                <fa-icon [icon]="faCoffee"></fa-icon>
                <input class="h-12 my-2 mx-2 w-96 border-gray-400 border-solid rounded-full pl-4 pr-2 text-lg"  type="password" placeholder="Password">
            </div>
            <button class="" type="submit">Create Account</button>
            <p class="" >Already have a account?<a class="" href="#">Log In</a></p>
        </form>my-2 mx-2 w-60 border-gray-400 border-solid rounded-md pl-1 pr-2 
    </div>
</div>